@import url("https://fonts.googleapis.com/css?family=Cabin:600|Lato:300,400,700");
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url("../fonts/brandongrotesque-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/brandongrotesque-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-bold.woff2") format("woff2"), url("../fonts/brandongrotesque-bold.woff") format("woff"), url("../fonts/brandongrotesque-bold.ttf") format("truetype"), url("../fonts/brandongrotesque-bold.svg#BrandonGrotesque-Bold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url("../fonts/brandongrotesque-medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/brandongrotesque-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-medium.woff2") format("woff2"), url("../fonts/brandongrotesque-medium.woff") format("woff"), url("../fonts/brandongrotesque-medium.ttf") format("truetype"), url("../fonts/brandongrotesque-medium.svg#BrandonGrotesque-Medium") format("svg");
  /* Legacy iOS */ }

.App {
  text-align: center; }

.App-header {
  background-color: #222;
  padding: 0px;
  color: white;
  height: 60px; }

.App-header h1 {
  display: inline-block; }

.App-title {
  font-size: 1.4em;
  font-family: Avenir,"Helvetica Neue",arial,sans-serif;
  font-weight: 100; }

.Airport-picker {
  float: right;
  font-size: 20px;
  margin: 14px 8px;
  font-family: Avenir,"Helvetica Neue",arial,sans-serif; }

/* Google Maps */
.MapLoadingElement, .MapContainerElement, .MapElement {
  height: calc(100vh - 140px);
  border: 1px solid lightgray; }

/* Header */
.Navbar {
  height: 60px; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

/* Logo section styling */
.LogoImage {
  width: 26px;
  height: 25px;
  margin: 2px 20px 2px 15px; }

.Logo {
  color: white;
  vertical-align: middle;
  font-family: Lato, sans-serif;
  margin-bottom: 0px; }

.LogoThin {
  font-weight: 300; }

.LogoThick {
  font-weight: 700; }

.NavItem {
  font-size: 15px;
  font-family: Cabin, sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

.UserPanelImage {
  width: 30px;
  height: 31px;
  margin: 2px 15px; }

.UserName {
  color: white;
  font-family: Lato, sans-serif; }

.UserPanelLogout {
  width: 11px;
  height: 7px;
  margin: 2px 15px; }

a {
  color: #4EB2FA !important; }
  a:hover, a:focus {
    color: #73c3fc !important;
    text-decoration: none !important; }

.main-panel.col-12 {
  padding-left: 0;
  padding-right: 0; }

.main-panel .search-panel.col-12, .main-panel .search-panel.col-md-4, .main-panel .search-panel.col-md-8,
.main-panel .map-panel.col-12,
.main-panel .map-panel.col-md-4,
.main-panel .map-panel.col-md-8 {
  padding-left: 0;
  padding-right: 0; }

.main-panel .search-column {
  padding-left: 0;
  padding-right: 0; }

.main-panel .search-panel {
  background: #F8F8F8;
  -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.21);
  z-index: 10; }
  @media (min-width: 576px) {
    .main-panel .search-panel {
      height: calc(100vh - 60px); } }
  .main-panel .search-panel .search-menu {
    background-color: #ffffff;
    padding: 40px 30px;
    border-bottom: 1px solid #E0E3E8;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05); }
  .main-panel .search-panel .search-results {
    padding: 20px 30px; }
    .main-panel .search-panel .search-results .selected-results {
      padding-left: 0;
      padding-right: 0;
      font-family: BrandonGrotesque-Medium;
      font-size: 10px;
      color: #7E859A; }
      .main-panel .search-panel .search-results .selected-results .ReactTable {
        border: 0; }
        .main-panel .search-panel .search-results .selected-results .ReactTable .rt-thead {
          padding: 0 15px; }
          .main-panel .search-panel .search-results .selected-results .ReactTable .rt-thead .rt-th {
            text-align: left;
            font-size: 12px;
            border-right: 0; }
        .main-panel .search-panel .search-results .selected-results .ReactTable .rt-tbody {
          padding: 15px;
          background-color: #ffffff;
          border: 1px solid #E0E3E8;
          -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
                  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05); }
          .main-panel .search-panel .search-results .selected-results .ReactTable .rt-tbody .rt-td {
            background-color: #ffffff;
            border-right: 0; }
        .main-panel .search-panel .search-results .selected-results .ReactTable .-pagination {
          -webkit-box-shadow: none;
                  box-shadow: none;
          background-color: none;
          font-size: 12px;
          border-top: 0; }
  .main-panel .search-panel .select-title {
    font-family: BrandonGrotesque-Bold;
    font-size: 12px;
    color: #313541;
    margin-bottom: 5px; }

.main-panel .map-result .col-12 {
  padding-left: 0;
  padding-right: 0; }

.blue-top {
  background-image: linear-gradient(-42deg, #4EB2FA 0%, #3399E4 100%);
  -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.21);
  width: 100%;
  height: 6px; }

.nav-bread {
  border-bottom: 1px solid #E0E3E8;
  background-color: #ffffff;
  padding: 5px 15px; }
  .nav-bread .breadcrumbs-menu a {
    font-family: Avenir-Roman;
    font-size: 10px;
    color: #7E859A !important;
    text-transform: uppercase; }
    .nav-bread .breadcrumbs-menu a:hover, .nav-bread .breadcrumbs-menu a:focus {
      color: #999999 !important; }
  .nav-bread .bread-arrow {
    margin-top: 3px; }
  .nav-bread .bread-links > div:last-child .bread-arrow {
    display: none; }

.select-drop {
  font-family: BrandonGrotesque-Bold;
  font-size: 10px;
  color: #7E859A;
  background-color: #ffffff; }
  .select-drop svg {
    color: #7E859A; }

.MapLoadingElement, .MapContainerElement, .MapElement {
  height: calc(100vh - 60px);
  border: 0; }

.FlightDetailPanel {
    padding: 20px 40px;
}

.FlightDetailPanel-h1 {
    padding: 10px 0px 20px 10px;
    font-family: BrandonGrotesque-Bold;
    font-size: 26px;
    color: #313541;
    text-transform: uppercase;
}

.selected-results {
    padding-bottom: 60px;
}

.selected-results-plot {
    padding: 0px;
    font-size: 10px;
    font-family: BrandonGrotesque-Medium;

}