@import url('https://fonts.googleapis.com/css?family=Cabin:600|Lato:300,400,700');

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 0px;
  color: white;
  height: 60px;
}

.App-header h1 {
  display: inline-block;
}

.App-title {
  font-size: 1.4em;
  font-family: Avenir,"Helvetica Neue",arial,sans-serif;
  font-weight: 100;
}

.Airport-picker {
    float: right;
    font-size: 20px;
    margin: 14px 8px;
      font-family: Avenir,"Helvetica Neue",arial,sans-serif;

}

/* Google Maps */
.MapLoadingElement, .MapContainerElement, .MapElement {
    height: calc(100vh - 140px);
    border: 1px solid lightgray;
}


/* Header */
.Navbar {
    height: 60px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* Logo section styling */
.LogoImage {
    width: 26px;
    height: 25px;
    margin: 2px 20px 2px 15px;
}

.Logo {
    color: white;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    margin-bottom: 0px;
}

.LogoThin {
    font-weight: 300;
}

.LogoThick {
    font-weight: 700;
}

.NavItem {
    font-size: 15px;
    font-family: Cabin, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.UserPanel {
    
}

.UserPanelImage {
    width: 30px;
    height: 31px;
    margin: 2px 15px;
}

.UserName {
    color: white;
    font-family: Lato, sans-serif;
 
}

.UserPanelLogout {
    width: 11px;
    height: 7px;
    margin: 2px 15px;

}


